body {
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  nav {
    background: #3f51b5;
    padding: 10px 20px;
    a {
      color: white;
      text-decoration: none;
      margin: 0 10px;
      &.active {
        font-weight: bold;
      }
      &:hover {
        text-decoration: underline;
      }
    }
  }
}